body{
    background-color: #efefef;
    font-family: sans-serif;
    text-align: center;
}

 .main{
    width: 500px;
    height: 400px;
    background-color: white;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.tableStyle{
    margin-left: auto;
    margin-right: auto;
}


a.button {
	background-color: #558ED5;
    color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 21px;
}

input[type="text"] {
    width: 150px;
}

input[type="password"] {
    width: 150px;
}

ul {
    list-style-type: none; /*Eemaldab punktid listi eest*/
    margin: 0; /*Eemaldab brauseri standartseaded*/
    padding: 0; /*Eemaldab brauseri standartseaded*/
    overflow: hidden;
    background-color: #558ED5;
}

li {
    /*Selle abil sain menüü horisontaalseks*/
}

li a {
    display: block; /*ruudu kujulised menüülingid*/
    color: #414141; /*menüü teksti värv*/
    text-align: center;
    padding: 9px 10px; /*Menüükastide suurused*/
    text-decoration: none;
}

li a:hover {
    background-color: #dbdbdb; /*Peale liikudes muudab värvi menüü valik*/
}


button{
	height: 225px;
	width: 225px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}
.mencol{
	height: 225px;
	width: 225px;
	padding-left: 44px;
	float: left;
}

img{
	width: 150px;
	height: 105px;
}

#userform{ /*selleks, et main lehel oleks formid ilusti*/
	float: left;
}

.logo{ /*selleks, et signup ja index lehel oleks logo suur*/
	width: 225px;
	height: 225px;
}
