body{
    background-color: #efefef;
    font-family: sans-serif;
    text-align: center;
}

 .main{
    width: 500px;
    height: 400px;
    background-color: white;
    color: #4a4a4a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.tableStyle{
    margin-left: auto;
    margin-right: auto;
}


a.button {
	background-color: #558ED5;
    color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 21px;
}

input[type="text"] {
    width: 150px;
}

input[type="password"] {
    width: 150px;
}

ul {
    list-style-type: none; /*Eemaldab punktid listi eest*/
    margin: 0; /*Eemaldab brauseri standartseaded*/
    padding: 0; /*Eemaldab brauseri standartseaded*/
    overflow: hidden;
    background-color: #558ED5;
}

li {
    /*Selle abil sain menüü horisontaalseks*/
}

li a {
    display: block; /*ruudu kujulised menüülingid*/
    color: #414141; /*menüü teksti värv*/
    text-align: center;
    padding: 9px 10px; /*Menüükastide suurused*/
    text-decoration: none;
}

li a:hover {
    background-color: #dbdbdb; /*Peale liikudes muudab värvi menüü valik*/
}


button{
	height: 100px;
	width: 225px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}
.mencol{
	height: 230px;
	width: 727px;
	float: left;
	padding-right: 200px;	
}

a{
	height: 19.5px;
}

.suur{
	float: left;
}
img{
	width: 150px;
	height: 150px;
	
}

#userform{
	width: 300px;
	margin: none;
	padding-right: 100px;
	padding-top: 20px;
	float: left;
}



.logo{ /*selleks, et signup ja index lehel oleks logo suur*/
	width: 225px;
	height: 225px;
	float: left;
	margin-left: 53px;
}

.logo2{
	width: 225px;
	height: 225px;
}

.lahter{
	width: 500px;
	height: 30px;
	float: center;
}

.kasutaja{
	margin: 10px;
}

.parool{
	margin: 32px;
}

.nimi{
	margin: 40px;
}

.email{
	margin: 35px;
}

.harjutusepilt{
	width: 460px;
	height: 400px;
}

.nupp{
	width: 100px;
	height: 30px;
	background-color: #efefef;
	border: none;
	
}

.nupp2{
	width: 100px;
	height: 30px;
	text-decoration:none;
	border: none;
	margin: 30px;
}

.diet{
	background: url('src/images/diet.jpg');
	text-align: center;
    width: 600px;
    height: 400px;
    color: white;
    margin-left: auto;
    margin-right: 700px;
    margin-top: 70px;
}

.diettable{
	font-size: 25px;
	margin-top: 100px;
	margin-left: 10px;
}

.training{
	background: url('src/images/jogging.jpg');
	text-align: center;
    width: 900px;
    height: 500px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.trainingtable{
	font-size: 25px;
	margin-top: 75px;
	margin-left: 25px;
}

.animatsioonigaNupp {
  display: inline-block;
  border-radius: 4px;
  background-color: #558ED5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.animatsioonigaNupp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animatsioonigaNupp span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.animatsioonigaNupp:hover span {
  padding-right: 25px;
}

.animatsioonigaNupp:hover span:after {
  opacity: 1;
  right: 0;
}

.DietDiaryScroll{
	height:150px;
	width: 200px;
	overflow-y: scroll;
}

.HistoryScroll{
	margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
	height:150px;
	width: 300px;
	overflow-y: scroll;
}

.CommentTable{
	font-size: 25px;
	margin-top: 75px;
	margin-right: auto;
	margin-left: auto;
}
}
